// Medium screens
@media (min-width: 992px) {
    section.second-section {
        .left-side {
            >p {
                width: 69%;
            }
        }
    }

    section.sixth-section {
        .container {
            .row {
                button {
                    font-size: 15px !important;
                }
            }
        }
    }
    footer {
        .contact {
            .contact-links {
                align-items: center !important;
                flex-direction: row !important;
            }
        }
    }
}

// Small screens
@media (min-width: 768px) {
    .w-sm-100 {
        width: 100% !important;
    }

    .font-size-sm-12 {
        font-size: $font-size-12;
    }

    .font-size-sm-16 {
        font-size: $font-size-16;
    }

    .font-size-sm-18 {
        font-size: $font-size-18;
    }

    section.sixth-section {
        .container {
            .row {
                button {
                    font-size: $font-size-12;
                }
            }
        }
    }

    footer {
        .contact {
            .contact-links {
                align-items: flex-start !important;
                flex-direction: column;
            }
        }
    }

}

// Extra small screen
@media (max-width: 767px) {
    .font-size-xs-12 {
        font-size: $font-size-12;
    }

    .font-size-xs-16 {
        font-size: $font-size-16;
    }

    .font-size-xs-18 {
        font-size: $font-size-18;
    }

    .bg-clipped {
        clip-path: none !important;
    }

    .custom-marker-list {
        grid-template-columns: 1fr !important;
    }

    .fifth-section .grid-container {
        grid-template-columns: 1fr !important;
    }

    button {
        font-size: $font-size-12 !important;
    }

    section.second-section {
        .container {
            .row {
                gap: 2rem;
            }
        }
    }

    section.fourth-section {

        // Accordion overrides
        #accordionFlushExample.accordion.accordion-flush {
            .accordion-item {
                .accordion-header {
                    a.accordion-button {
                        &::after {
                            top: 50px !important;
                        }
                    }
                }
            }
        }
    }

    section.sixth-section {
        .container {
            .row {
                flex-direction: column-reverse;
                gap: 2rem;
            }
        }
    }

    footer {
        .contact {
            flex-direction: column !important;
            align-items: flex-start !important;
            .contact-links {
                align-items: flex-start !important;
                flex-direction: column;
            }
        }
    }
    #carouselExampleDark.carousel {
        .carousel-indicators {
          > button[data-bs-target] {
            display: none;
          }
        }
    }
}
