$font-family-primary: "Avenir", sans-serif;
$font-family-secondary: "Noah", sans-serif;

$color-primary: #16317E;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-16 : 16pt;
$font-size-24 : 24pt;
$font-size-36 : 36pt;