:root {
  --bs-body-font-family: Avenir LT Std, sans-serif;
  --bs-body-color: rgba(0, 0, 0, 0.8);
}

:root {
  --bs-body-font-family: Avenir LT Std, sans-serif;
  --bs-body-color: rgba(0, 0, 0, 0.8);
}

.color-primary {
  color: #00416D;
}

.bg-primary {
  background-color: #00416D !important;
}

.color-white {
  color: white;
}

.color-black {
  color: rgba(0, 0, 0, 0.8);
}

.color-accordion-legend {
  color: #464646;
}

.bg-light {
  background-color: #F9F9F9 !important;
}

.font-primary {
  font-family: Avenir LT Std, sans-serif;
}

.font-secondary {
  font-family: Avenir LT Std, sans-serif;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-heavy {
  font-weight: 900;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-36 {
  font-size: 36px;
}

.line-height-default {
  line-height: 1;
}

.line-height-heading {
  line-height: 1.4241;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.ch-75 {
  width: 75ch;
}

.padded-grid-container {
  padding: 1rem;
}

.main-timeline {
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
}
.main-timeline:before {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  background: #72c0ea;
  margin: 0 auto;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 767px) {
  .main-timeline:before {
    margin: 0;
    left: 7px;
  }
}
.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative;
}
.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both;
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }
}
.main-timeline .timeline:nth-child(2n) .date-content {
  float: right;
  display: flex;
}
.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px;
}
.main-timeline .timeline:nth-child(2n) .date-content .date-outer {
  margin: 0 0 0 40px;
}
@media (max-width: 767px) {
  .main-timeline .timeline:nth-child(2n) .date-content .date-outer {
    margin: 0;
  }
}
.main-timeline .timeline:nth-child(2n) .date-content .date-outer::before {
  left: 0;
  right: -70px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 0px 50px 20px 0;
  text-align: right;
}
@media only screen and (max-width: 991px) {
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 0px 30px 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 95%;
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .main-timeline .timeline:nth-child(1n) .date-content {
    margin-left: 5%;
  }
}
.main-timeline .timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-timeline .timeline .icon:before, .main-timeline .timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: -275%;
  left: -1px;
  transition: all 0.33s ease-out 0s;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-timeline .timeline .icon:before, .main-timeline .timeline .icon:after {
    top: -330%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-timeline .timeline .icon:before, .main-timeline .timeline .icon:after {
    top: -370%;
  }
}
@media (max-width: 767px) {
  .main-timeline .timeline .icon:before, .main-timeline .timeline .icon:after {
    top: -525%;
    left: 0px;
  }
}
.main-timeline .timeline .icon:after {
  width: 21px;
  height: 21px;
  background: #72c0ea;
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline .icon {
    margin: auto 0;
  }
}
.main-timeline .timeline .date-content {
  width: 50%;
  float: left;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .main-timeline .timeline .date-content {
    margin-top: 35px;
  }
}
@media only screen and (max-width: 991px) {
  .main-timeline .timeline .date-content:before {
    width: 22.5%;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline .date-content:before {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0;
  }
}
.main-timeline .timeline .date-content .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px 0 0;
  float: right;
}
.main-timeline .timeline .date-content .date-outer:before, .main-timeline .timeline .date-content .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s;
}
.main-timeline .timeline .date-content .date-outer:before {
  background: #e8f6fb;
  left: -70px;
  width: 87px;
  height: 87px;
  top: 15%;
}
.main-timeline .timeline .date-content .date-outer:after {
  border: 9px solid #72c0ea;
  /* left: 90px; */
  top: 0px;
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline .date-content .date-outer {
    width: 110px;
    height: 110px;
  }
  .main-timeline .timeline .date-content .date-outer:before {
    width: 80px;
    height: 80px;
  }
  .main-timeline .timeline .date-content .date-outer:after {
    width: 110px;
    height: 110px;
  }
}
.main-timeline .timeline .date-content .date-outer .date {
  width: 100%;
  position: absolute;
  left: 0px;
}
@media (max-width: 767px) {
  .main-timeline .timeline .date-content {
    float: none;
    margin: 0;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-timeline .timeline .date-content .date-outer {
    margin: 0 !important;
  }
}
.main-timeline .timeline .timeline-content {
  width: 50%;
  padding: 0px 0 20px 50px;
  float: right;
}
@media only screen and (max-width: 991px) {
  .main-timeline .timeline .timeline-content {
    padding: 0px 0 10px 30px;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline .timeline-content {
    width: 95%;
    text-align: center;
    padding: 0;
  }
}
.main-timeline .timeline .timeline-content .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 2px 0 15px 0;
}
@media only screen and (max-width: 991px) {
  .main-timeline .timeline .timeline-content .title {
    font-size: 17px;
    margin-bottom: 10px;
  }
}
.main-timeline .timeline .timeline-content .description {
  margin-bottom: 0;
  text-align: justify;
}

@media (min-width: 992px) {
  section.second-section .left-side > p {
    width: 69%;
  }
  section.sixth-section .container .row button {
    font-size: 15px !important;
  }
  footer .contact .contact-links {
    align-items: center !important;
    flex-direction: row !important;
  }
}
@media (min-width: 768px) {
  .w-sm-100 {
    width: 100% !important;
  }
  .font-size-sm-12 {
    font-size: 12px;
  }
  .font-size-sm-16 {
    font-size: 16px;
  }
  .font-size-sm-18 {
    font-size: 18px;
  }
  section.sixth-section .container .row button {
    font-size: 12px;
  }
  footer .contact .contact-links {
    align-items: flex-start !important;
    flex-direction: column;
  }
  footer .data {
    display: flex;
  }
}
@media (max-width: 767px) {
  .font-size-xs-12 {
    font-size: 12px;
  }
  .font-size-xs-16 {
    font-size: 16px;
  }
  .font-size-xs-18 {
    font-size: 18px;
  }
  .bg-clipped {
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
  .custom-marker-list {
    grid-template-columns: 1fr !important;
  }
  .fifth-section .grid-container {
    grid-template-columns: 1fr !important;
  }
  button {
    font-size: 12px !important;
  }
  section.second-section .container .row {
    gap: 2rem;
  }
  section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item .accordion-header a.accordion-button::after {
    top: 50px !important;
  }
  section.sixth-section .container .row {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  footer .contact {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  footer .contact .contact-links {
    align-items: flex-start !important;
    flex-direction: column;
  }
  #carouselExampleDark.carousel .carousel-indicators > button[data-bs-target] {
    display: none;
  }
}
body {
  font-family: Avenir LT Std, sans-serif !important;
}

.navbar {
  z-index: 9999;
}
.navbar .navbar-brand {
  width: 160px;
}

body > header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

section {
  padding: 100px 0;
}

.btn {
  background-color: #00416D;
  color: white;
  border-radius: 2.5rem;
  padding: 14px 26px;
  border: none;
  height: 47px;
  line-height: 1;
}
.btn:hover {
  background-color: white;
  color: #00416D;
  border: 1px solid #00416D;
}

#carouselExampleDark.carousel {
  padding: 0;
  max-height: 100vh;
}
#carouselExampleDark.carousel .carousel-indicators {
  margin: 0;
  gap: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
}
#carouselExampleDark.carousel .carousel-indicators > button[data-bs-target] {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 0;
  border-radius: 2.5rem;
  background-color: white;
  border: 2px solid #00416D;
}
#carouselExampleDark.carousel .carousel-indicators > button[data-bs-target].active {
  background-color: #00416D;
  border: 0px solid #00416D;
}
#carouselExampleDark.carousel .carousel-inner .carousel-item {
  height: calc(100vh - 102px);
}
#carouselExampleDark.carousel .carousel-inner .carousel-item > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#carouselExampleDark.carousel .carousel-inner .carousel-item .carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  text-align: left;
  height: 100%;
  color: var(--bs-body-color);
}

section.bg-clipped {
  -webkit-clip-path: polygon(0 0, 100% 11%, 100% 87%, 0% 100%);
          clip-path: polygon(0 0, 100% 11%, 100% 87%, 0% 100%);
}

section.first-section .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

section.second-section .left-side {
  position: relative;
}
section.second-section .left-side::before {
  content: "";
  position: absolute;
  display: block;
  background-size: 100%;
  width: 69px;
  height: 69px;
  bottom: 50%;
  left: -75px;
}
section.second-section .left-side > p {
  width: 100%;
}
section.second-section .right-side {
  position: relative;
}
section.second-section .right-side::before {
  content: "";
  position: absolute;
  display: block;
  background-size: 100%;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}
section.second-section .right-side::after {
  content: "";
  position: absolute;
  display: block;
  background-size: 100%;
  width: 16px;
  height: 16px;
  bottom: 0;
  right: 0;
}
section.second-section ul.custom-marker-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0;
  padding: 0;
  place-items: center;
  list-style: none;
}
section.second-section ul.custom-marker-list.check-style li .marker::before {
  content: "\f00c";
  color: #72c0ea;
}
section.second-section ul.custom-marker-list.red-cross-style li .marker::before {
  content: "\f00d";
  color: #72c0ea;
}
section.second-section ul.custom-marker-list li {
  font-family: Avenir LT Std, sans-serif;
  font-size: 14px;
  font-weight: 900;
  width: 70%;
  display: flex;
  align-items: center;
}
section.second-section ul.custom-marker-list li > p {
  margin-left: 2rem;
}
section.second-section ul.custom-marker-list li .marker::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 2rem;
}

section.third-section h2 {
  width: 70%;
}
section.third-section .rectangle-backlight-container .rectangle-backlight {
  height: 30px;
  width: 240px;
  top: -48px;
  left: 0;
  display: block;
  background: white;
  opacity: 0.2;
}

section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item.no-collapse {
  padding: 1rem;
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item.no-collapse header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item.no-collapse header > * {
  padding: 1rem 0;
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item .accordion-header a.accordion-button {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  text-decoration: none;
  padding: 1rem;
  background-color: #F7FCFF;
  box-shadow: none;
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item .accordion-header a.accordion-button::after {
  position: absolute;
  right: 30px;
  height: 2rem;
  width: 2rem;
  background-size: 2rem;
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item .accordion-header .accordion-body {
  padding: 0;
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item:last-child {
  border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item div[id^=flush-collapse] {
  background-color: #F7FCFF;
  grid-template-columns: 1fr 2fr;
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item div[id^=flush-collapse].show, section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item div[id^=flush-collapse].collapsing {
  display: grid;
}
section.fourth-section #accordionFlushExample.accordion.accordion-flush .accordion-item div[id^=flush-collapse] .accordion-body {
  padding-left: 1rem;
}

section.fifth-section .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  min-height: 300px;
}
section.fifth-section .grid-container .grid-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}
section.fifth-section .grid-container .grid-item img {
  height: 48px;
  margin-bottom: 0.5rem;
}
section.fifth-section .grid-container .grid-item h2 {
  font-family: Avenir LT Std, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
section.fifth-section .grid-container .grid-item p {
  font-family: Avenir LT Std, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

section.sixth-section .container .row {
  display: flex;
  align-items: center;
}

footer .footer-img {
  width: 250px;
}
footer .footer-img img {
  filter: grayscale(100%);
}/*# sourceMappingURL=style.css.map */